@model MasterLayout.tbl_Login
@{
    ViewBag.Title = "LoginPage";
}

<h2>LoginPage</h2>
@using (Html.BeginForm("HomePage","Login"))
{
<table>
    <tr>
        <td> Username</td>
        <td>@Html.TextBoxFor(a=>a.username)</td>
        <td>@Html.ValidationMessageFor(a=>a.username,"",new {@class = "text-danger" })</td>
    </tr>
    <tr>
        <td> Password</td>
        <td>@Html.PasswordFor(a=>a.password)</td>
        <td>@Html.ValidationMessageFor(a=>a.password,"",new { @class = "text-danger" })</td>
    </tr>
    <tr>
        <td></td>
        <td><input type="Submit" name="Submit"></td>
    </tr>
</table>
}
@if (ViewBag.Error!=null)
{
    @ViewBag.Error;
}
